 
/* ----------Peliculas---------- */
#Peliculas {
    text-align: center;
    margin: 20px auto;
    max-width: 1400px;
}

.contenedor-peliculas {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;

}

.pelicula:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.pelicula {
    background-color: rgb(229, 55, 49);
    border-radius: 8px;
    overflow: hidden;
    width: calc(15% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.pelicula img {
    width: 100%;
    height: auto;
    display: block;
}

.pelicula h5 {
    color: black;
    background-color: white;
    margin: 10px 0;
    padding: 5px;
    font-size: 1em;
}

.pelicula h6 {
    font-size: 0.6em;
    margin-bottom: 10px;
    color: white;
}

/* ----------Actores---------- */
#actores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;

}
#actores article:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#actores article {
    flex: 0 0 auto;
    text-align: center;
    background-color: #646464;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#actores img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* ----------Series---------- */
#Series {
    text-align: center;
    margin-top: 20px;
}

#Series .series-contenido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

#Series article {
    background-color: rgb(229, 55, 49);
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

#Series article:hover {
    transform: scale(1.05); /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.series-contenido img {
    width: 100%;
    height: auto;
    max-height: 800px;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

/* ----------Festivales---------- */
#Festivales .festivales-contenido {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

aside#Festivales {
    height: 100%;
}

#Festivales article {
    margin-bottom: 20px;
    margin-top: 50px;
}

#Festivales img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#Festivales h5 , h6 {
    color: white;
}


h5, h6 {
    margin: 5px 0;
}

/* ----------Contenedor general de Series y Festivales---------- */
#content-Series-Fest {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    align-items: start;
}

#Festivales, #Series {
    max-width: 100%;
}

.festivales-contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

/* Lo más visto */

#LoMasVisto {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0; 
    max-width: 1200px; 
    margin: 0 auto; 
}

#LoMasVisto .item {
    position: relative; 
    display: inline-block;
}

#LoMasVisto img {
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

#LoMasVisto .ranking { /* Objeto redondo de podio */ 
    position: absolute;
    top: 5px; 
    left: 5px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    font-size: 14px; 
    font-weight: bold; 
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}