/* ----------Series---------- */

#Series {
    padding: 20px;
    color: #333;
    text-align: center;
    
}

#Series .series-contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

#Series article {
    background-color: rgb(229, 55, 49);
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.33% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.series-contenido img {
    width: 100%;
    height: auto;
    display: block;
}
#Series article:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

